/* Esto hace que el footer siempre este abajo */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* >>>>>>>>>>>> HEADER*/
.encabezado{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.encabezado__container{
    display: flex;
    justify-content: space-between; /*Separa los elementos*/
    align-items: center; /*Alinea verticalmente*/
    max-width: 1200px;
    margin: 0px auto; /*Centra los elementos horizontalmente*/
}

.encabezado--logo{
    width: 80px;
}

.encabezado__navegacion--lista{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}

/* >>>>>>>>>>>> Main*/
.container{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

/* >>>>>>>>>>>> Titulo*/
.titulo{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

/* >>>>>>>>>>>> Descripción del texto*/
.container__descripcion{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

/* Titulos sección nosotros */
.nosotros_titulos{
    font-weight: 600;
}

/* Contenedor mapas */
.academias__contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.academias__titulo{
    text-align: center;
}

.academias__lista{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ubicacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ubicacion__texto{
    padding-bottom: 20px;
    text-align: center;
}

.ubicacion__mapa {
    position: relative;
    width: 100%; /* El contenedor del mapa ocupará todo el ancho */
    height: 50vh; /* El contenedor ocupará el 50% de la altura de la ventana */
    overflow: hidden;
}

.ubicacion__mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* El mapa ocupará todo el ancho del contenedor */
    height: 100%; /* El mapa se ajustará a la altura del contenedor */
    border: 0; /* Sin borde */
}

/* >>>>>>>>>>>> CONTACTO*/
.contacto{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacto__descripcion--texto{
    font-weight: 500;
    font-size: 16px;
}

.contacto__formulario img{
    display: none;
}

.contacto__formulario--datos{
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: content-box;
}

.contacto_elemento{
    display: flex;
    flex-direction: column;
}

.contacto__formulario--datos label{
    font-weight: 400;
    font-size: 12px;
    width: auto;
    padding: 6px 12px;
}

/* Afecta al texto que se escribe en los textarea & input */
.contacto__formulario--datos input,
.contacto__formulario--datos textarea{
    width: auto;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 16px;
}

/* No muestra los label de Asunto y Mensaje */
.contacto__formulario--asunto label,
.contacto__formulario--mensaje label{
    display: none;
}

/* Altura del contenedor Asunto */
#formulario__asunto{
    height: 42px;
}

/* Altura del contenedor Mensaje */
#formulario__mensaje{
    height: 100px;
}

/* Boton */
.boton_contacto{
    text-align: center;
}

.formulario--boton{
    background-color: black;
    color: white;
    padding: 12px 16px;
}

/* >>>>>>>>>>>> FOOTER*/

footer{
    display: flex;
    height: 40px;
    background-color: black;
    color: white;
    justify-content: center; /* Alinea horizontalmente */
    align-items: center; /*Alinea verticalmente el contenido*/
    margin-top: 20px;
}
